.left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  &__img {
    height: 60vh;
    border-radius: 100%;
  }
}
.right {
  //   background-color: rgb(209, 179, 231);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
